
$title-weight: 800;
$body-size: 13px;
$green: #3ecf8e;
$purple: #6772e5;
$blue: #0084ff;
$primary: $purple;
$success: $green;
$link: $blue;
$family-sans-serif: 'Muli', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;